beautifulsoup4==4.12.2
Flask==3.0.0
Flask-Minify==0.42
flask-paginate==2023.10.24
Flask-SQLAlchemy==3.0.5
Jinja2==3.1.2
python-dotenv==1.0.0
requests==2.25.1
rich==13.4.2
SQLAlchemy==2.0.18
trycast==1.1.0
urllib3==1.26.5
virtualenv==20.13.0+ds