/* custom css: @github.com/motebaya */
html,
body {
  height: 100%;
}

@font-face {
  font-family: "virgil";
  src: url(../fonts/Virgil.woff2);
}

.rightoff {
  margin-left: 400px;
}

.leftoff {
  margin-left: 0px;
}

.fs-logo {
  font-size: calc(1.275rem + 0.3vw) !important;
}

@media (max-width: 500px) {
  .fs-logo {
    font-size: 16px !important;
  }

  .rightoff {
    margin-left: 130px;
  }
}

.t-text {
  margin-bottom: 0;
  font-size: 12px;
}

.back-to-top {
  display: none;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  position: fixed;
  border-radius: 10%;
  bottom: 20px;
  right: 12px;
  background-color: #a7a2a0;
  z-index: 10000;
}

.back-to-top .fa-angle-double-up {
  margin-top: 20%;
  font-size: 20px;
}
.back-to-top:hover {
  color: #fff;
  transition: 0.5s;
}

.img-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #ddd;
  width: 150px !important;
  height: 80px !important;
  overflow: hidden;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.img-landscape {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  text-align: center;
  padding-bottom: 20px;
  flex-shrink: 0;
  margin-top: auto;
}

.footer p {
  margin-bottom: 0;
}

.f-fira {
  font-family: "Fira Code", monospace;
}

.sitemap {
  list-style: none;
  padding-left: 0;
}

.sitemap > li > ul {
  margin-top: 1rem;
  padding-left: 0;
  margin-left: 1rem;
}

.sitemap li {
  line-height: 1.5rem;
  vertical-align: top;
  list-style: none;
  position: relative;
}

.sitemap li p {
  color: #6c757d;
}
.sitemap li a {
  text-decoration: none;
  color: #6c757d;
  display: block;
  white-space: nowrap;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}

.sitemap li a i {
  display: inline-block;
}

.sitemap li a:hover {
  color: #3bafda;
}

.sitemap ul {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  padding-top: 10px;
}

.sitemap ul li {
  position: relative;
}

.sitemap ul li a {
  margin-left: 2rem;
}

.sitemap ul li:before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-bottom: 1px solid #e5e8eb;
  border-left: 1px solid #e5e8eb;
  position: absolute;
  top: -10px;
}

.text-blue {
  color: #0d6efd;
}

.f-virgil {
  font-family: "virgil";
}

header {
  display: flex;
  justify-content: space-between;
}
