{% import "styles.html" as style %}
<!DOCTYPE html>
<html lang="en">

<head>
  {{ style.css() }}
  <meta property="og:title" content="Poi Poi - dev" />
  <meta property="og:description" content="genres list" />
  <title>Poi Poi - {{ items.title }}</title>
</head>

<body>
  {{ style.modal() }}
  <div class="wrapper">
    <div class="content">
      {{ style.header(url_for('hentai_list')) }}
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="card f-fira">
              <div class="card-body">
                {% if not isepisode %}
                  <div class="row">
                    <div class="col-lg-7 pt-1">
                      <img src="data:image/png;base64,{{ encode_image(items.image_cover).decode() }}" alt="cover image"
                        class="img-thumbnail float-start" style="width: 150px; height: auto" />
                    </div>

                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-lg-12">
                          <p class="card-title">
                            <span class="text-blue">{{ items.title }}</span>
                          </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <b>Synopsis:</b>
                          <p class="text-break">{{ items.sinopsis }}</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 mt-3" style="font-size: 15px">
                      <ul class="list-group list-group-flush">
                        {% for key, item in items.__dict__.items() %}
                          {% if key.lower() not in ['hentai_id', 'image_name','image_cover', 'sinopsis', 'id', '_sa_instance_state'] %}
                            {% if key.lower() != 'status' %}
                              <li class="list-group-item">
                                {{ key.title().replace('_', ' ') }}: {{ item }}
                              </li>
                            {% else %}
                              <li class="list-group-item">
                                {{ key.title() }}:
                                <span class="badge bg-{{ 'success' if item.lower() == 'ongoing' else 'primary' }}">
                                {{ item }}
                                </span>
                              </li>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                  </div>

                  <div class="list-group mt-3 col-lg-12 justify-content-center">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                      <span class="float-start">Episode:</span>
                      <span class="rightoff">Release:</span>
                    </a>
                    {% for eps in episode_list %}
                      <a href="{{ eps.episode_id }}" class="list-group-item list-group-item-action">
                        <span class="float-start">Episode {{ loop.index if 'batch' not in eps.episode_id
                          else "Batch" }}</span>
                        <span class="rightoff">{{ eps.date }}</span></a>
                    {% endfor %}
                  </div>

                {% else %}
                  {% if loadjson_string(items.stream) | length != 0 and 'batch' not in items.episode_id %}
                    <div class="row justify-content-center">
                      <div class="col-md-10">
                        {% for stream in loadjson_string(items.stream) %}
                          <div class="ratio ratio-16x9 stream-embed" id="stream{{ loop.index }}">
                            <iframe src="{{ stream.get('stream' + loop.index | string) }}" scrolling="no" frameborder="0"
                              width="100%" height="430" allowfullscreen="true" webkitallowfullscreen="true"
                              mozallowfullscreen="true" class="img-thumbnail"></iframe>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="col mt-3 text-center">
                      {% for stream in loadjson_string(items.stream) %}
                        <a href="#stream{{ loop.index }}" class="btn btn-sm btn-outline-secondary change-stream"><i
                            class="fa fa-exchange me-1"></i> Stream {{ loop.index }}</a>
                      {% endfor %}
                    </div>
                  {% else %}
                    <div class="row justify-content-center">
                      <div class="col-md-10 mb-3">
                        <div class="d-flex justify-content-center">
                          <img src="data:image/png;base64,{{ encode_image(items.thumbnail).decode() }}"
                            alt="{{ items.thumbnail_alt }}" class="img-thumbnail" />
                        </div>
                      </div>
                    </div>
                {% endif %}

                <div class="row mt-3">
                  <div class="col-lg-12">
                    <p class="f-fira text-break" style="font-size: 12px">
                      <b>Synopsis:</b> {{ get_anime_id(items.hentai_id).sinopsis }}
                    </p>
                  </div>
                </div>

                {% for card in loadjson_string(items.link) %}
                  {% set title, url = card.items() | first %}
                  <div class="card mb-2 f-fira">
                    <div class="card-header text-center" style="font-size: 12px">
                      {{ title }}
                    </div>

                    <div class="card-body text-center">
                      {% for link in url %}
                        {% set server, direct = link.items() | first %}
                        <a href="{{ direct }}" target="_blank" class="btn btn-outline-secondary btn-sm mb-2"><i
                          class="fa fa-download me-1"></i>{{ server.title() }}</a>
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
              {% endif%}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ style.footer() }} {{ style.js() }}
  <script type="text/javascript">
    // i've check, nekopoi stream just have [0, 1, 2] stream length
    $(function () {
      $(".stream-embed").not(":first").hide();
      $(".change-stream").on("click", function (e) {
        e.preventDefault();
        $(".stream-embed").hide();
        $($(this).attr("href")).show();
      });
    });
  </script>
</body>

</html>