{% import "styles.html" as style %}
<!DOCTYPE html>
<html lang="en">

<head>
  {{ style.css() }}
  <meta property="og:title" content="Poi Poi - hentai list" />
  <meta property="og:description" content="all of all hentai mirror nekopoi" />
  <title>Poi Poi - Hentai list</title>
</head>

<body>
  {{ style.modal() }}
  <div class="wrapper">
    <div class="content">
      {{ style.header(url_for('hentai_list')) }}
      <div class="container-fluid">
        <div class="row justify-content-center d-flex">
          <div class="col-md-10">
            <div class="card">
              <div class="card-header f-fira">
                show per page 10 of <<span class="text-blue">
                  {{ total }} </span>> - (<i class="fa fa-eye"></i>
                  <span class="text-blue"> {{ total_visit }}</span>)
              </div>
              <div class="card-body f-fira">
                {% for item in items %}
                  <div class="row mb-2">
                    <div class="col-sm-2 img-container">
                      <img src="data:image/png;base64,{{ encode_image(item.image_cover).decode() }}"
                        alt="{{ item.image_name }}" class="img-landscape" />
                    </div>

                    <div class="col-md-9 mt-2">
                      <p class="card-title fs-10 mb-0">
                        <a href="{{ url_for('anime_info', animeid=item.hentai_id) }}"
                          class="text-dark text-decoration-none fw-bold">{{ item.title }}</a>
                      </p>
                      <p class="t-text">
                        <i class="fa fa-tag me-1"></i>Genres: {{ genre_formatter(item.genres) | safe }}
                      </p>

                      {% set status_badge = item.status.lower() %}
                      {% if status_badge == 'completed' %}
                        {% set badge = "success" %}
                      {% elif status_badge == 'ongoing' %}
                        {% set badge = "primary" %} {% else %} {% set badge = "danger" %}
                      {% endif %}

                      <p class="t-text">
                        <i class="fa fa-bookmark-o me-1"></i>Status:
                        <span class="badge bg-{{ badge }}">{{ item.status }}</span>
                      </p>
                      <p class="t-text">
                        <i class="fa fa-clock-o me-1"></i>Released: {{ item.tayang if item.tayang | length != 0 else '-1' }}
                      </p>
                    </div>
                  </div>
                {% endfor %}

                <div class="d-flex justify-content-center mt-3">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      {% if pagination.has_prev %}
                        {% if s is not none %}
                          {% set href = url_for('hentai_list', s=s, page=(pagination.page - 1)) %}
                        {% elif g is not none %}
                          {% set href = url_for('genres', genre=g, page=(pagination.page - 1)) %} 
                        {% else %} {% set href = url_for('hentai_list', page=(pagination.page - 1)) %}
                        {% endif %}
                        <li class="page-item">
                          <a class="page-link" href="{{ href }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                      {% endif %}
                      
                      {% for num in pagination.pages %}
                        {% if num %}
                          {% if num != pagination.page %}
                            {% if s is not none %}
                              {% set href = url_for('hentai_list', s=s, page=num) %}
                            {% elif g is not none %} {% set href = url_for('genres', genre=g, page=num) %} {% else %}
                              {% set href = url_for('hentai_list', page=num) %}
                            {% endif %}
                            <li class="page-item">
                              <a class="page-link" href="{{ href }}">{{ num }}</a>
                            </li>
                          {% else %}
                            <li class="page-item active" aria-current="page">
                              <span class="page-link">{{ num }} </span>
                            </li>
                          {% endif %}
                        {% else %}
                          <li class="page-item disabled">
                            <span class="page-link" href="#">...</span>
                          </li>
                        {% endif %}
                      {% endfor %}
                      
                      {% if pagination.has_next %}
                        {% if s is not none %}
                          {% set href = url_for('hentai_list', s=s, page=(pagination.page + 1)) %} 
                        {% elif g is not none %}
                          {% set href = url_for('genres', genre=g, page=(pagination.page + 1)) %} 
                        {% else %}
                          {% set href = url_for('hentai_list', page=(pagination.page + 1)) %}
                        {% endif %}
                        <li class="page-item">
                          <a class="page-link" href="{{ href }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      {% endif %}
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ style.footer() }}
  </div>
  {{ style.js() }}
</body>

</html>