<!-- macros jinja2 templates  -->

{% macro css() %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta property="og:image" content="url_for('static', 'image/og.jpg')" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/icons.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
<link rel="icon" href="{{ url_for('static', filename='src/cat.ico') }}" type="image/x-icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
{% endmacro %}

{% macro header(action) %}
<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center col-sm-12">
    <a href="/"
      class="fs-logo f-virgil d-flex align-items-center mb-lg-2 me-lg-auto text-dark text-decoration-none me-3">Poi
      Poi
      <span class="text-blue">.dev</span>
    </a>
    <form id="form" method="POST" action="{{ action }}" d-flex align-items-center">
      <div class="input-group">
        <input type="search" class="form-control me-1" name="s" placeholder="Search anime title in here..."
          aria-label="Search" required />
        <button class="btn btn-outline-primary" type="submit" id="search">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </form>
  </div>
</header>
{% endmacro %}

{% macro modal() %}
<div class="modal fade in" id="ageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="ageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center d-flex flex-column align-items-center justify-content-center">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ageModalLabel">Age Confirm</h1>
      </div>
      <div class="modal-body">NSFW content warning!</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal" id="btn-yes">
          <i class="fa fa-check-square-o me-1"></i>I'm over 18+
        </button>
        <a href="javascript: window.history.back();" class="btn btn-secondary btn-sm">
          <i class="fa fa-arrow-left me-1"></i>go back
        </a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro js() %}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script type="text/javascript">
  $(function () {
    // back to top
    $(window).on("scroll", function () {
      if ($(this).scrollTop() > 300) {
        $(".back-to-top").fadeIn();
      } else {
        $(".back-to-top").fadeOut();
      }
    });

    // modal age
    if (!localStorage.getItem("ageConfirmed")) {
      (new bootstrap.Modal($("#ageModal"))).show();
      $("#btn-yes").on("click", function () {
        localStorage.setItem("ageConfirmed", true);
      });
    }
  });
</script>
{% endmacro %}

{% macro footer() %}
<a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
<footer class="footer mt-3">
  <div class="container-fluid">
    <div class="text-center f-virgil">
      <p>&copy; Copyright 2023 - made with &#9749; by <a href="#">Motebaya</a></p>
    </div>
  </div>
</footer>
{% endmacro %}